*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    caret-color: transparent;
    box-sizing: border-box;
    
}

.nav-item button{
    border-radius: 40px;
    background-color: red;
    color:white;
}
.nav-item nav-link.active:hover{
    text-decoration: underline;
}

.nav-bar.letter-logo img:hover{
    cursor: pointer;
}


.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap:40px;
    align-items: center;
    color: white;
    background-image: url(../asset/homepage-assets/signin-bg.png);
    background-size: cover;
   background-position: center;
    width: 100vw;
    height: 100vh;
    padding-right: 60px;
}

.main-content .big-text h1{
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 100px;
    justify-content: flex-start;
    font-size: 70px;
}



.main-content form{
    justify-content: center;
    align-items: center;
    gap: 3px;
    max-width: 600px;
    height: 500px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(5px);
    color: #fff;
    box-shadow:0 0 5px rgba(0, 0, 0, .1);
    border-radius: 40px;
}

.input-box{
    text-align: center;
}

.input-box h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-box p{
    font-size: 16px;
    margin-bottom: 20px;
}

.input-box input{
    caret-color: white;
    position: relative;
    background: transparent;
    border: none;
    width: 100%;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 15px;
    color: #fff;
    margin: 10px 0;
    padding: 20px;
}
.input-box input::placeholder{
    color: white
}
.input-box input:focus{
    outline: none;
}

.input-box button{
    width: 40%;
    height: 50px;
    background:  red;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin: 40px 0;
}

footer{
    background-color: black;
    color: #fff;
    padding: 20px 0;
}
.upper-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
}
.footer-logo img{
    max-width: 170px;
    margin-left: 0;
}
.footer-content-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-content-list li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.5s;
}
.footer-content-list li a:hover {
    color: #ccc;
}
.footer-social-icon-list{
    display: flex;
    gap: 15px;
}
.footer-social-icon-list li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.5s, transform 0.3s;
}
.footer-social-icon-list li a:hover{
    color: #ccc;
    transform: scale(1.1);
}
.divider {
    border-color: #fff;
    margin: 15px 0;
}
.bottom-bar{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}