*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    caret-color: transparent;
    box-sizing: border-box;
}

.nav-item button{
    border-radius: 40px;
    background-color: red;
    color:white;
}
.nav-item nav-link.active:hover{
    text-decoration: underline;
}

.nav-bar.letter-logo img:hover{
    cursor: pointer;
}


