*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
    font-family: 'Roboto';
    
}

a{
    text-decoration: none;
}
body{
    background-image: url(asset/signin-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loginbox{
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    width: 500px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(5px);
    color: #fff;
    box-shadow:0 0 5px rgba(0, 0, 0, .1);
    border-radius: 40px;
}
.loginbox h2{
    text-align: center;
    font-size: 36px
}
.loginbox .inputbox{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 13px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

::-ms-reveal{
    filter:invert(100%);
}

.inputbox .username:focus{
    outline: none;
}
.inputbox .password:focus{
    outline: none;
}

.inputbox .password{
    margin-top: 20px;
}
.inputbox input::placeholder{
    color: white
}

.loginbox .remember-forgot{
    padding: 60px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.loginbox .remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.loginbox .remember-forgot a{
    color:#fff;
    text-decoration: none;
}
.loginbox .remember-forgot a:hover{
    text-decoration: underline;
}
.login-button{
    width: 100%;
    height: 45px;
    background:  red;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.loginbox .no-account{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.loginbox .no-account-register:hover{
    text-decoration: underline;
    color: white;
}
.loginbox .other-signin-label{
    text-align: center;
}
.other-signin-button .facebook-button{
    width: 60px;
    height: 60px;
}
.other-signin-button {
    padding: 5px 5px 5px 5px;
    margin: 0;
}
.other-signin-button-block{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}