*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
    font-family: 'Roboto';
    
}

a{
    text-decoration: none;
}
body{
    background-image: url(asset/signin-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 850px;
    height: 500px;
    background: rgba(0, 0, 0, .5);
    border-radius: 40px;
    box-shadow:0 0 30px rgba(0, 0, 0, .2);
    border: 2px solid rgba(255,255,255,.2);
}

.form-box .loginbox{
    position: relative;
}

.form-box .register{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-box{
    position: absolute;
    right: 0;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    width: 50%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(5px);
    color: #fff;
    box-shadow:0 0 5px rgba(0, 0, 0, .1);
    border-radius: 40px;
    
}
.form-box h2{
    text-align: center;
    font-size: 36px
}
.inputbox{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.inputbox input{
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 13px;
    color: #fff;
    margin: 10px 0;
    padding: 20px;
}

.inputbox .register{
    display: flex;
    flex-direction: column;
}

::-ms-reveal{
    filter:invert(100%);
}

.inputbox .username:focus{
    outline: none;
}
.inputbox .password:focus{
    outline: none;
}
.inputbox .email:focus{
    outline: none;
}
.inputbox{
    margin-top: 20px;
}
.inputbox input::placeholder{
    color: white
}

.form-box .remember-forgot{
    padding: 70px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.form-box .remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.form-box .remember-forgot a{
    color:#fff;
    text-decoration: none;
}
.form-box .remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background:  red;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.btn.register-button{
    margin: 42% 0 5% 0;
}
.form-box .other-signin-label{
    text-align: center;
}
.loginbox .other-signin-label{
<<<<<<< Updated upstream
    margin: 20px;
    
=======
    text-align: center;
}
.loginbox .other-signin-button{
    padding: 0px 20px 20px 20px;
}

.other-signin-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.other-signin-button .riot-button{
    width: 18%;  
    border-radius: 10px;
    margin: -6px 4px 3px 0px;
}
.other-signin-button .reddit-button{
    margin-bottom: -20px;
    width: 30%;
}
.other-signin-button .twitch-button{
    width: 30%;
    margin: -20px;
>>>>>>> Stashed changes
}
.other-signin-button .facebook-button{
    width: 60px;
    height: 60px;
}
.other-signin-button {
    padding: 5px 5px 5px 5px;
    margin: 0;
}
.other-signin-button-block{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.toggle-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 3;
}


.toggle-left{
    opacity: 1;
    pointer-events: all;
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}
.toggle-right{
    opacity: 0;
    pointer-events: none;
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out;
}

.toggle-panel p{
    margin: 15px 0;
    font-size: 14px; 
}

.toggle-left .btn{
    width: 50%;
    transition: opacity 0.5s ease-in-out;
}
.toggle-right .btn{
    width: 50%;
    
    transition: opacity 0.5 ease-in-out;
}

.fade-out{
    opacity: 0%;
}

.fade-in{
    opacity: 100%;
}
.register{
    right: 0;
    opacity: 0;
}
.loginbox{
    right: 0;
    opacity: 1;
    visibility: visible;
}
.hidden{
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}
.visible{
    opacity: 1;
    pointer-events: all;
    transition: opacity 1s ease-in;
}

.slide-over-right-to-left-to-fade{
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide-over-left-to-right-to-fade{
    transform: translateX(0%);
    opacity: 0;
    pointer-events: none;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide-over-right-to-left-to-appear{
    transform: translateX(-100%);
    opacity: 1;
    pointer-events: all;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide-over-left-to-right-to-appear{
    transform: translateX(0%);
    opacity: 1;
    pointer-events: all;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out; 
}


