*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    caret-color: transparent;
    box-sizing: border-box;
}

body, html{
    overflow-x: hidden;
}

main{
    background-color: black;
}

body{
    background-color: black;
}

img{
    vertical-align: middle;
}

.btn.btn-outline-danger{
    background-color: red;
    border-radius: 40px;
    color: white;
    padding-top: 10px auto;
}

.sc-1{
    width: 100vw;
    height: 100vh;
    background-image: url('asset/homepage-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sc-1-text{
    height: 60vh;
}

.sc-1-text h1{
    color: white;
    font-size: 50px;
    width: 800px;
    font-weight: bold;
}

.sc-1-text p{
    color: white;
    width: 800px;
}

.search-box{
    position: relative;
}

.search-box input{
    height: 50px;
    width: 450px;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0 , 0 ,0.2);
    transition: 0.4s ease-in-out;
    opacity: 0.8;
}

.search-box input:focus{
    width: 550px;
}

.search-box i{
    position: relative;
    top: 28%;
    right: 40px;
    transform: translate(-25%);
    color: red;
}

.sc-1-healine{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    margin: 20px 70px;
}

.sc-1-healine h1{
    padding: 10px;
}

.news-sc-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 20px 70px;
    color: white;
    background-color: black;
}

.news-1{
    border: 1px solid black;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.author{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.author img{
    width: 45px;
    height: 45px;
    border-radius: 15px;
    margin-right: 5px;
}

.author-in4{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.author-in4 p{
    margin: 0;
    list-style: 1;
}

.content-1{
    width: 100%;
}

.content-1 img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.news-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.news-2-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #101a1e, #1c2b30);
    /* border: 2px solid rgba(255,255,255,.4); */
    backdrop-filter: blur(5px);
    color: #fff;
    box-shadow:0 0 5px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.news-2-container img{
    width: 200px;
    height: 140px;
    border-radius: 10px;
}

.news-2-desc{
    font-weight: 100;
}
footer{
    background-color: black;
    color: #fff;
    padding: 20px 0;
}
.container {
    max-width: 1400px;
}
.upper-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
}
.footer-logo img{
    max-width: 170px;
    margin-left: 0;
}
.footer-content-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-content-list li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.5s;
}
.footer-content-list li a:hover {
    color: #ccc;
}
.footer-social-icon-list{
    display: flex;
    gap: 15px;
}
.footer-social-icon-list li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.5s, transform 0.3s;
}
.footer-social-icon-list li a:hover{
    color: #ccc;
    transform: scale(1.1);
}
.divider {
    border-color: #fff;
    margin: 15px 0;
}
.bottom-bar{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}