*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    caret-color: transparent;
    box-sizing: border-box;
}

body, html{
    overflow-x: hidden;
    padding-top: 40px;
}

main{
    background-color: #1B1B1B;
    color: white;
}

body{
    background-color: #1B1B1B;
}

img{
    vertical-align: middle;
}

@keyframes fadeIN{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.btn.btn-outline-danger{
    background-color: red;
    border-radius: 40px;
    color: white;
    padding-top: 10px auto;
}

.nav-home{
    display: none;
    color: white;
    padding-right: 10px;
}

.navbar-searchbar
{
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}
.navbar-searchbar::placeholder{
    color: #666;
    padding-left: 5px;
}
.navbar-searchbar:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
.ri-menu-fill{
    width: 34px;
    height: 34px;
}

.nav-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    animation: fadeIN linear 0.2s;
}

.nav-mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color:  #2c2c2c;
    transform: translateX(100%);
    z-index: 999;
    transition: transform linear 0.2s;
}

.mobile-list{
    margin-top: 24px;
}

.user-info{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.nav-mobile-item{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}

.nav-mobile-close{
    font-size: 1.4rem;
    color: #666;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.nav-input-mobile{
    display: none;
}

.nav-input-mobile:checked ~ .nav-overlay{
    display: block;
}

.nav-input-mobile:checked ~ .nav-mobile{
    transform: translateX(0%);
}

@media (max-width: 1023px) {
    

    .nav-bar.letter-logo img{
        max-width: 100px;
    }

    .navbar.navbar-expand-sm.navbar-dark{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        max-width: 100%;
    }

    .nav-home{
        display: block;
    }

    .navbar-nav.ms-auto{
        display: none;
    }

    .nav-item.dropdown.no-margin{
        display: none;
    }

    .nav-item{
        display: none;
    }
}

@media (max-width: 768px){
    .container-fluid{
        max-width: 100px;
    }

    .navbar.navbar-expand-sm.navbar-dark{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        max-width: 100%;
    }
}

.sc-1{
    width: 100vw;
    height: 100vh;
    background-image: url('../asset/homepage-assets/homepage-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sc-1-healine h1{
    text-align: center;
}

.sc-1-text{
    height: 60vh;
}

.sc-1-text h1{
    color: white;
    font-size: 50px;
    width: 800px;
    font-weight: bold;
}

.sc-1-text p{
    color: white;
    width: 800px;
}

.search-box{
    position: relative;
}

.search-box input{
    height: 50px;
    width: 450px;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0 , 0 ,0.2);
    transition: 0.4s ease-in-out;
    opacity: 0.8;
}

.search-box input:focus{
    width: 550px;
}

.search-box i{
    position: relative;
    top: 28%;
    right: 40px;
    transform: translate(-25%);
    color: red;
}

.sc-1-healine{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #1B1B1B;
    margin: 20px 70px;
}

.nav-item{
    display: flex;
    align-items: center;
    gap: 5px;
}


.sc-1-healine h1{
    padding: 10px;
}

@media (max-width: 1024px) {
    .sc-1{
        background-image: url('../asset/homepage-assets/back1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .sc-1-text h1 {
        font-size: 3rem;
        width: 100%;
    }

    .sc-1-text p {
        font-size: 2rem;
        width: 100%;
    }

    .search-box input {
        width: 350px;
    }

    .search-box input:focus {
        width: 400px;
    }
}

@media (max-width: 768px) {
    .sc-1-text h1 {
        font-size: 2.5rem;
        width: 100%;
    }

    .sc-1-text p {
        font-size: 1.5rem;
        width: 100%;
    }

    .search-box input {
        width: 300px;
    }

    .search-box input:focus {
        width: 350px;
    }

    .search-box i {
        right: 40px;
    }
}

@media (max-width: 480px) {
    .sc-1-text h1 {
        font-size: 2rem;
        width: 100%;
    }

    .sc-1-text p {
        font-size: 1.4rem;
        width: 100%;
    }

    .search-box input {
        width: 250px;
    }

    .search-box input:focus {
        width: 300px;
    }

    .search-box i {
        right: 30px;
    }
}

.news-title{
    font-weight:bold;
}

.news-title a{
    text-decoration: none;
    color: white;
}

.news-title a:hover{
    text-decoration: underline;
}
.news-category-and-time{
    color: gray;
}

.news-sc-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 20px 70px;
    color: white;
    background-color: #1B1B1B;
}

.news-1{
    border: 1px solid #1B1B1B;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.author{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.author img{
    width: 45px;
    height: 45px;
    border-radius: 15px;
    margin-right: 5px;
}

.author-in4{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.author-in4 p{
    margin: 0;
    list-style: 1;
}

.content-1{
    width: 100%;
}

.content-1 img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .sc-1-healine h1{
        width: 100%;
        margin: 0 auto;
    }

    .news-sc-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px ;
    }

    .news-1{
        width: 100%;
    }

    .news-2-container{
        width: 100%;
    }

    .news-2-container p{
        font-size: small;
    }

    .news-2-container img{
        width: 100%;
    }


}

@media (max-width: 768px) {
    .sc-1-healine h1{
        width: 100%;
        margin: 0 auto;
        font-size: 29px;
    }

    .news-2-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }


    .news-2-container img{
        width: 100% !important;
        height: 100% !important;
        padding-bottom: 10px;
    }

}

@media (max-width: 480px) {
    .sc-1-healine h1{
        width: 100%;
        margin: 0 auto;
        font-size: 24px;
    }
}

.right-news-column{
    display:grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}

.news-2-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #101a1e, #7b1e1e);
    background-size: contain;
    backdrop-filter: blur(5px);
    color: #fff;
    box-shadow:0 0 5px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 140px;
}

.news-2-container img{
    width: 200px;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
}

.news-2-desc{
    font-weight: 100;
}

/* .carousel-item.active{
    height: auto !important;
}

.carousel-item{
    height: auto !important;
}

@media (max-width: 768px) {
    .carousel-headline h1{
        width: 100%;
        font-size: 23px;
        margin: 0 auto;
    }
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 20px;
  padding: 20px;
}

.item1 {
  grid-column: span 2;

}

.item2 {
  grid-column: span 2;
}

.item3 {
  grid-column: 2 / span 2;
}


.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.item:hover{
    cursor:pointer;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu mờ đen */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.overlay-text {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
}

.item:hover .overlay {
  opacity: 1;
}



footer{
    background-color: black;
    color: #fff;
    padding: 20px 0;
}
.container {
    max-width: 1400px;
}
.upper-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
}
.footer-logo img{
    max-width: 170px;
    margin-left: 0;
}
.footer-content-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-content-list li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.5s;
}
.footer-content-list li a:hover {
    color: #ccc;
}
.footer-social-icon-list{
    display: flex;
    gap: 15px;
}
.footer-social-icon-list li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.5s, transform 0.3s;
}
.footer-social-icon-list li a:hover{
    color: #ccc;
    transform: scale(1.1);
}
.divider {
    border-color: #fff;
    margin: 15px 0;
}
.bottom-bar{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}

#newsCarousel{
    display: flex;
    align-items: center;
    justify-self: center;
    max-width: 1000px;
    margin: 20px 10px auto;
}

.carousel-inner img {
    border-radius: 12px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.carousel-item{
    height: 500px;
}

.carousel-item:hover{
    cursor: pointer;
}

.carousel-headline{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #1B1B1B;
    margin: 10px 70px;
}

.about-authors{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 20px;
    color:black;
    background-color: white;
    width: 100%;
    max-width: 2000px;
}

.authors-wrds{
    flex: 1;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
    align-items: center;
}

.about-authors img{
    flex: 1; 
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .about-authors {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        width: 100%;
    }

    .authors-wrds {
        padding: 10px 10px;
        font-size: medium;
    }

    .authors-img img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .about-authors {
        flex-direction: column;
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .authors-wrds {
        padding: 10px 20px;
        font-size: small;
    }

    .authors-img img {
        width: 100%;
        height: auto;
    }
}

#user-info-email {
    cursor: pointer;
}