
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    caret-color: transparent;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #101a1e, #1c2b30);
    color: white;
    padding-top: 80px;
}
.nav-item button{
    border-radius: 40px;
    background-color: red;
    color:white;
}
.nav-item nav-link.active:hover{
    text-decoration: underline;
}
a h5 {
    text-decoration: none; 
    color: white; 
    display: inline-block;
}

a:hover h5 { 
    color: white; 
    text-decoration: underline;
}

h5 {
    text-decoration:none;
    margin: 0; 
    font-size: inherit; 
}

.nav-bar.letter-logo img:hover{
    cursor: pointer;
}
.navbar-searchbar
{
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}
.navbar-searchbar::placeholder{
    color: #666;
    padding-left: 5px;
}
.navbar-searchbar:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
.league-page-top {
    position: relative; 
    min-height: 40vh; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

.content {
    position: relative;
    z-index: 1; 
    text-align: center; 
    padding: 20px;
}

.league-page-top h1 {
    font-weight: bold;
    font-size: 64px;
    margin: 0; 
}

.league-page-top p {
    font-size: 20px;
}


body h5{
    font-weight: bold;
}

.all-news{
    display: grid;
    grid-template-columns: 1.8fr 1fr;
}

.news-form .tournament-realm{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.news-form h2{
    font-weight: bold;
    display: block;
    padding: 40px 20px 0px 60px;
    font-style: italic;
}

/*Tournament Realm*/
.scuttle-news{
    background: linear-gradient(to right, #101a1e, #1c2b30);
    color: white;
}

.subtext{
    padding-left: 60px;
}

.news-box-equal-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.news-box-equal-row img{
    width: 100%;
    height: 65%;
    border-radius: 5px;
}

.news-uptime{
    padding-top:8px;
    font-size: 10px;
    margin-bottom: 5px;
}
.news-section{
     
}
/*Scuttle News*/
.tournament-realm{
    background: linear-gradient(to right, #101a1e, #1c2b30);
    color: white;
}

.game-updates{
    background: linear-gradient(to right, #101a1e, #1c2b30);
    color: white;
    margin-bottom: 100px;
}

.news-box-featured-news {
    max-width: 100%;
    align-items: start;
    padding-left: 60px;
    padding-right: 30px;
    
}

.featured-news {
    display:flex;
    align-items: flex-end;
    min-height: 100%;
    background-color: black;
    background-image: url(../asset/league-assets/first-stand-pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.featured-news .featured-content
{   
    position: relative;
    text-align: left;
    width: 100%;
    padding-left: 30px;
}

.news-row-right{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%; 
    gap: 10px;
}


.news-box {
    display: flex;
    flex-direction: row;
    background: transparent;
    border-radius: 5px;
    gap: 20px;
    align-items: center;
    flex: 1 1 auto; 
    min-width: 435px;
}

.news-box .text-section {
    display: flex;
    flex-direction: column;
}


.news-box .image-section img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

footer{
    background-color: black;
    color: #fff;
    padding: 20px 0;
}
.container {
    max-width: 1400px;
}
.upper-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
}
.footer-logo img{
    max-width: 170px;
    margin-left: 0;
}
.footer-content-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-content-list li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.5s;
}
.footer-content-list li a:hover {
    color: #ccc;
}
.footer-social-icon-list{
    display: flex;
    gap: 15px;
}
.footer-social-icon-list li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.5s, transform 0.3s;
}
.footer-social-icon-list li a:hover{
    color: #ccc;
    transform: scale(1.1);
}
.divider {
    border-color: #fff;
    margin: 15px 0;
}
.bottom-bar{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}

.nav-item{
    display: flex;
    align-items: center;
    gap: 5px;
}
