*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    caret-color: transparent;
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1B1B1B;
}
.otp-container {
  background: #fff;
  border-radius: 24px;
  max-width: 700px;
  width: 90vw;
  box-shadow: 0 4px 32px 0 #10182814;
  margin: 40px auto;
  padding: 42px 32px 32px 32px;
  text-align: center;
}
.otp-title {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
  color: #19232c;
}
.otp-subtitle {
  color: #7c8da4;
  font-size: 20px;
  margin-bottom: 40px;
}
.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-bottom: 35px;
}
.otp-input {
  width: 68px;
  height: 68px;
  font-size: 32px;
  border-radius: 12px;
  border: 2px solid #e0e6ec;
  text-align: center;
  outline: none;
  font-weight: 500;
  transition: border-color 0.3s;
  background: #fff;
}
.otp-input:focus {
  border-color: #11b5b6;
}
.verify-btn {
  background: #11b5b6;
  color: #fff;
  border: none;
  border-radius: 32px;
  width: 60%;
  max-width: 388px;
  height: 56px;
  font-size: 24px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin: 0 auto 38px auto;
  display: block;
  transition: background 0.2s;
}
.login-btn:hover {
  background: #099fa0;
}
.divider {
  border: none;
  border-bottom: 2px solid #f1f5f8;
  margin: 0 -32px 0 -32px;
  margin-bottom: 22px;
}
.otp-footer {
  color: #11b5b6;
  font-size: 22px;
  margin-top: 0;
  cursor: pointer;
  font-family: 'Montserrat', Arial, sans-serif;
}
.otp-footer span {
  color: #11b5b6;
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 600px) {
  .otp-container {
    max-width: 98vw;
    padding: 18px 6vw 22px 6vw;
  }
  .otp-title {
    font-size: 32px;
  }
  .otp-input {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }
  .login-btn {
    width: 96%;
    font-size: 18px;
    height: 44px;
  }
  .otp-footer {
    font-size: 17px;
  }
}
