*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    caret-color: transparent;
    box-sizing: border-box;
}

body, html{
    overflow-x: hidden;
    padding-top: 40px;
}

main{
    background-color: #1B1B1B;
    color: white;
}

body{
    background-color: #1B1B1B;
}

img{
    vertical-align: middle;
}

@keyframes fadeIN{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.btn.btn-outline-danger{
    background-color: red;
    border-radius: 40px;
    color: white;
    padding-top: 10px auto;
}

.nav-home{
    display: none;
    color: white;
    padding-right: 10px;
}

.ri-menu-fill{
    width: 34px;
    height: 34px;
}

.nav-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    animation: fadeIN linear 0.2s;
}

.nav-mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color:  #2c2c2c;
    transform: translateX(100%);
    z-index: 999;
    transition: transform linear 0.2s;
}

.mobile-list{
    margin-top: 24px;
}

.user-info{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.nav-mobile-item{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}

.nav-mobile-close{
    font-size: 1.4rem;
    color: #666;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.nav-input-mobile{
    display: none;
}

.nav-input-mobile:checked ~ .nav-overlay{
    display: block;
}

.nav-input-mobile:checked ~ .nav-mobile{
    transform: translateX(0%);
}

@media (max-width: 1023px) {
    

    .nav-bar.letter-logo img{
        max-width: 100px;
    }

    .navbar.navbar-expand-sm.navbar-dark{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        max-width: 100%;
    }

    .nav-home{
        display: block;
    }

    .navbar-nav.ms-auto{
        display: none;
    }

    .nav-item.dropdown.no-margin{
        display: none;
    }

    .nav-item{
        display: none;
    }
}

@media (max-width: 768px){
    .container-fluid{
        max-width: 100px;
    }

    .navbar.navbar-expand-sm.navbar-dark{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        max-width: 100%;
    }
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 40px;
}
.profile-card {
    background: #fff;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.16);
    margin-bottom: 0;
}
.profile-header-row {
    display: flex;
    justify-content: space-between;
    padding: 25px 22px 22px 22px;
}
.profile-info {
    flex: 1;
}
.profile-username {
    color: #1B1B1B;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 10px;
}
.profile-table {
    font-size: 15px;
    color: #464646;
    border-collapse: collapse;
}
.profile-table .label {
    font-style: italic;
    padding-right: 10px;
    color: #7a7b7b;
}
.flag-icon {
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(60,60,60,0.13);
}
.profile-action {
display: flex;
align-items: flex-start;
gap: 15px;
}

.btn-send {
background: #cf4c57;
color: #fff;
padding: 11px 27px;
border: none;
border-radius: 3px;
font-size: 16px;
font-weight: 500;
cursor: pointer;
box-shadow: 0 1.5px 3px -1px rgba(0,0,0,0.16);
transition: background 0.2s;
}

.btn-send:hover {
background: #a7353f;
}


.btn-verify {
background: #cf4c57;
color: #fff;
padding: 11px 27px;
border: none;
border-radius: 3px;
font-size: 16px;
font-weight: 500;
cursor: pointer;
box-shadow: 0 1.5px 3px -1px rgba(0,0,0,0.16);
transition: background 0.2s;
margin-left: 10px; 
}

.btn-verify:hover {
background: #a7353f;
}
.profile-tabs {
    border-bottom: 1px solid #e3e3e3;
    display: flex;
}
.tab {
    font-size: 16px;
    font-weight: 500;
    color: #383838;
    background: #fff;
    border: 1px solid #e3e3e3;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    padding: 9px 32px 11px 32px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 0;
    position: relative;
    top: 1px;
}
.tab.active {
    color: #cf4c57;
    font-weight: 700;
    background: #fff;
    border-bottom: 1px solid #fff;
    z-index: 2;
}
.profile-posts {
    min-height: 380px;
    background: #e3e3e3;
    border-radius: 0 0 4px 4px;
    border-top: none;
    padding: 35px 22px;
}

footer{
    background-color: black;
    color: #fff;
    padding: 20px 0;
}
.container1 {
    max-width: 1400px;
    margin: 0 auto;
}
.upper-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
}
.footer-logo img{
    max-width: 170px;
    margin-left: 0;
}
.footer-content-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-content-list li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.5s;
}
.footer-content-list li a:hover {
    color: #ccc;
}
.footer-social-icon-list{
    display: flex;
    gap: 15px;
}
.footer-social-icon-list li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.5s, transform 0.3s;
}
.footer-social-icon-list li a:hover{
    color: #ccc;
    transform: scale(1.1);
}
.divider {
    border-color: #fff;
    margin: 15px 0;
}
.bottom-bar{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}