*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    caret-color: transparent;
    box-sizing: border-box;
}

.btn.btn-outline-danger{
    background-color: red;
    border-radius: 40px;
    color: white;
    padding-top: 10px auto;
}

.qr-container {
    text-align: center;
    width: 1200px;
    margin: 50px auto;
    background-color: #f3f3f3ff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}
.qr-img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.qr-img img {
    max-width: 80%;
    height: 400px;
    border: 2px solid #012169;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

footer{
    background-color: black;
    color: #fff;
    padding: 20px 0;
}
.container {
    max-width: 1400px;
}
.upper-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
}
.footer-logo img{
    max-width: 170px;
    margin-left: 0;
}
.footer-content-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-content-list li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.5s;
}
.footer-content-list li a:hover {
    color: #ccc;
}
.footer-social-icon-list{
    display: flex;
    gap: 15px;
}
.footer-social-icon-list li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.5s, transform 0.3s;
}
.footer-social-icon-list li a:hover{
    color: #ccc;
    transform: scale(1.1);
}
.divider {
    border-color: #fff;
    margin: 15px 0;
}
.bottom-bar{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}
